body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: lightyellow;
}

header {
    text-align: center;
    

}
nav {
    text-align: center;

}

h2 {
    color:#440;
}
.border {
    border:2.5px solid black;
    text-align: center;
    background-color: lightcoral;
}

.lessAttention {
    font-size: 11pt; 
    color: #330;
}

#boldword {
    font-weight: bold;
}

