<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Thailand: A Place of Deep Meaning</h1>
        </header>
        <nav>
            <a href="#">Bangkok, City of Angels</a>
            <a href="#">Kalasin, the "Black Swamp"</a>
            <a href="#">Nong Khai, Neighbor of Laos</a>
            <a href="#">Srisaket, Neighbor of Khmer</a>
            <div class="clear"></div>
            <hr>
        </nav>
        <main>
            <h1>thailand's most important temple</h1>
            <figure class="imgwrap">
            <img src="bkktemple.jpg" alt="picture of the Bangkok Thailand temple">
            <figcaption>The Bangkok Thailand Temple</figcaption>
            </figure>
            <p>The Church of Jesus Christ of Latter-Day Saints' first temple in the Southeast Asia area was announced in 2015 by President Monson. Construction began in 2019, and it was completed in 2023. It was dedicated on October 23, 2023 by Elder Ronald A. Rasband (and I was there). It is the only place in Thailand, Cambodia, Vietnam, Myanmar, and Laos where a temple has been built so far.</p>
            <p>The temple is a place where members of the church go to worship God. The prophet of God promises us that we will find answers and comfort in the temple. Although almost every temple goes through an open house period where everyone may come and tour the temple, after dedication it is set apart only for holy ordinances. The temple is a symbol of hope and faith in the future, and in life after death.</p>
            <p>Easter Egg: change the window size and my name on the bottom will be like a car on the road.</p>
        </main>
    </div>
    <footer>
        <p>&copy; 2025 Spencer Wilson</p>
    </footer>
</body>
</html>