body {
    font-family: Arial, Helvetica, sans-serif;
}

header, nav {
    text-align: center;
}

.parent {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.aside {
    display: block;
    flex: 1;
    margin-left: 20px;
    background-color: lightgrey;
    padding: 10px;
}

table {
    border-collapse: collapse;
    display: block;
    flex: 3;
}

table, th, td{
    border: thin solid #000;
}

th {
    background-color: gainsboro
}

th, td {
    padding: 8px;
    text-align: center;
}

.purple {
    background-color: rgb(186, 137, 231);
}

.one {
    background-color: aliceblue;
}

.two {
    background-color: rgb(187, 219, 247);
}

.three {
    background-color: rgb(125, 185, 238);
}

.four {
    background-color: rgb(109, 186, 253);
}

.five {
    background-color: rgb(72, 166, 248);
}

.six {
    background-color: rgb(30, 145, 245);
}